@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*GLOBAL-----------------------------*/

:root{
    --dark-blue: #03045E;
    --medium-blue: #0077B6;
    --light-blue: #48CAE4;
    --ultra-light-blue: #CAF0F8;
    --ultra-ultra-light-blue: #90E0EF;
    --white: #fff;
    --black: #000;
}

/*END GLOBAL--------------------------*/

/*FORM--------------------------------*/

#form-div{
    width: 100%;
    height: 100%;
}

/*FORM TITLE--------------------------*/

#form-title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
}

#form-title h1{
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--dark-blue)
}

#form-title img{
    margin-left: 5px;
    margin-top: 15px;
    width: 15px;
    height: 15px;
}

/*END FORM TITLE--------------------------*/


#form{
    width: 100%;
    margin-top: 12px;
    padding: 0 10px 0 10px;
}

#user-image-div{
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

#user-image-div span{
    z-index: -5;
    position: relative;
    top: 50px;
    left: -2px;
}

#user-image-div img{
    width: 50px;
    height: 50px;
}

#avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#avatar-file{
    display: none;
}

#user-image-div label{
    margin-top: 40px;
    cursor: pointer;
}

#user-image-div label img{
    width: 15px;
    height: 15px;
}

/*FORM BODY-----------------------------*/

#form-body{
    margin: 0 auto;
    max-width: 360px;
    margin-top: 16px;
}

.input-label{
    color: var(--light-blue);
    margin-bottom: 10px;
}

.input-box{
    display: block;
    width: 138px;
    height: 23px;
    border: 1px solid var(--ultra-light-blue)
}

.input-box:focus{
    border: 2px solid var(--light-blue);
    outline: 0;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

/*CATEGORIES--------------------------*/

#categories{
    background: var(--white);
}

#categories option{
    background: var(--white);
}

/*

/*AGE----------------------------------*/

#age{
    width: 69px;
}

/*END AGE------------------------------*/

/*PHONE AND EMAIL----------------------*/

#ddd{
    width: 23px;
}

#phone-number{
    width: 93px;
}

#ddd-label{
    margin-right: 10px;
}

#email-div{
    position: relative;
    top: -25px;
}


.phone-and-ddd{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.label-ddd-and-phone-number{
    font-size: 0.5rem;
    color: var(--ultra-light-blue);
}

/*END PHONE AND NUMBER-----------------*/

/*TERMS AND CONDITIONS CHECKBOX--------*/

#terms-check-container{
    position: relative;
    bottom: 10px;
}


.field-checkbox .field{
    position: absolute;
    left: 2px;
    top: 2px;
    opacity: 0;
}

.field-checkbox .field:not(:checked) + .description,
.field-checkbox .field:checked + .description{
    display: flex;
    align-items: center;
}

.field-checkbox .field:not(:checked) + .description::before,
.field-checkbox .field:checked + .description::before{
    margin-right: 5px;
}

.field-checkbox .field:not(:checked) + .description::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--ultra-ultra-light-blue);
}

.field-checkbox .field:checked + .description::before{
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid var(--ultra-ultra-light-blue);
    color: var(--white);
    background-color: var(--medium-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 0.8rem;
}

.description  a{
    margin-left: 4px;
    color: var(--medium-blue)
}

/*END TERMS AND CONDITIONS CHECKBOX----*/

/*SUBMIT BUTTON------------------------*/

#button{
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit-button{
    width: 123px;
    height: 38px;
    position: absolute;
    bottom: 11%;
    background: var(--ultra-light-blue);
    color: var(--medium-blue);
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#submit-button:hover{
    transition: all .5s ease-in-out;
    color: var(--ultra-light-blue);
    background: var(--light-blue);
}


/*END SUBMIT BUTTON--------------------*/

/*END FORM BODY-------------------------*/


/*END FORM------------------------------*/