@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --dark-blue: #03045E;
    --medium-blue: #0077B6;
    --light-blue: #48CAE4;
    --ultra-light-blue: #CAF0F8;
    --ultra-ultra-light-blue: #90E0EF;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    background-color: var(--white);
    font-family: 'Oswald', sans-serif;
}

/*HEADER-----------------------------*/

/*MENU-------------------------------*/

#navbar{
    width: 100%;
    height: 54px;
    padding: 1.1rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    color: var(--medium-blue);
}

/*END MENU---------------------------*/

/*END HEADER-------------------------*/

/*MAIN-------------------------------*/

/*END MAIN---------------------------*/

/*FOOTER-----------------------------*/

/*END FOOTER-------------------------*/


