@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --dark-blue: #03045E;
    --medium-blue: #0077B6;
    --light-blue: #48CAE4;
    --ultra-light-blue: #CAF0F8;
    --ultra-ultra-light-blue: #90E0EF;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    background-color: var(--white);
    font-family: 'Oswald', sans-serif;
}

/*HEADER-----------------------------*/

header{
    height: 54px;
}

/*MENU-------------------------------*/

#navbar{
    width: 100%;
    position: relative;
    z-index: 10;
    height: 54px;
    padding: 1.1rem 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--medium-blue);
    background: var(--white);
}

#navbar h2{
    font-size: 0.9rem;
}


/*MENU HAMBURGUER--------------------*/

#menu-hamburguer{
    width: 31px;
    height: 17px;
    cursor: pointer;
}

#hamburguer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    flex-direction: column;   
    transition: .2s ease-in-out; 
}

.hamburguer-line{
    width: 100%;
    height: 3px;
    background: var(--medium-blue);
    position: relative;
    top: 0px;
    transition: .2s ease-in-out;
}

.hamburguer-top-rotate{
    transform: rotate(45deg);
    top: 12px;
}

.middle{
    transform: rotate(45deg);
    top: 6px;
}
.hamburguer-bottom-rotate{
    transform: rotate(-45deg);
}




/*MENU ITEMS-------------------------*/

.nav-items{
    transform: translateY(190px);
}

#nav-items{
    transition: all .2s ease-in-out;
    position: relative;
    top: -190px;
    background: var(--white);
    border-bottom: 1px solid var(--medium-blue);
}

.current-page{
    color: var(--medium-blue) !important;
}

#nav-items{
    padding: 0 1rem;
}

#nav-items ul{
    list-style-type: none;
}

#nav-items li{
    margin-bottom: 4px;
}

#nav-items a{
    color: var(--black);
    text-decoration: none;
    margin-left: 4px;
}

#nav-items img{
    width: 15px;
    height: 15px;
}



/*END MENU ITEMS---------------------*/

/*END MENU HAMBURGUER----------------*/

/*END MENU---------------------------*/

/*END HEADER-------------------------*/

/*MAIN-------------------------------*/

/*TEMPORARY*/

#main{
    margin-top: 200px;
}

/*END MAIN---------------------------*/

/*FOOTER-----------------------------*/

#footer{
    width: 100%;
    height: 54px;
    text-align: center;
    align-content: center;
    color: var(--ultra-ultra-light-blue);
    font-size: 0.63rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer h4{
    line-height: 54px;
}




/*END FOOTER-------------------------*/


